.venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.DS_Store

artifacts/**
!artifacts/.gitkeep

data/raw/**
!data/raw/.gitkeep

data/interim/**
!data/interim/.gitkeep

data/processed/**
!data/processed/.gitkeep
